[Unit]
Description=Budgetin port 8090
After=syslog.target

[Service]
User=idscript
Group=idscript
ExecStart=~/dev/jdk/bin/java -jar ~/app/budgetin.jar --server.port=8090
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
